  
<div class="wrapper">
        <div class="header header-filter" style="background-image: url('assets/img/feast.jpg');"></div>

        <div class="main main-raised">
            <div class="profile-content">
                <div class="container"  ng-controller="DishDetailController">
                    <div class="col-xs-12" ng-if="!showDish">
                        <h3>{{message}}</h3>
                    </div>
                    <div class="row" ng-if="showDish">
                        <div class="content">
                                    <br>
                                    <!-- Dish tab -->
                                      <div class="col-sm-12">
                                        <div class=" media col-sm-3">
                                            <img class="media-object media-left media-middle img-responsive img-padded-top"  ng-src={{dish.image}}>
                                        </div>
                                        <div class="col-sm-7">
                                            <h4 class="title"> {{dish.name}}
                                                <span class="label label-success label-center">{{dish.cuisine}}</span>
                                               <span class="label label-success label-center">{{dish.price|currency}}</span>
                                            <!-- Star rating -->
                                            <!--div ng-controller="RatingController as rating" class="container">
                                                 <star-rating ng-model="rating.rating2" readonly="rating.isReadonly"></star-rating>
                                            </div-->
                                            <h6 class="text-danger">{{dish.allergy}}</h6>
                                             <p>{{dish.description}}</p>
                                        </div>
                                        <div class="col-sm-2 text-left">
                                            <br>
                                            <a class="btn btn-round btn-sm btn-warning" ui-sref="app.managedishes" >
                                                <i class="material-icons">arrow_back</i> Back to dishes</a>
                                            <br>
                                            <button class="btn btn-round btn-sm btn-warning" ng-click="addToMenu(dish.chef._id, dish._id)" ng-model="dishIndex">
                                                <i class="material-icons">add_circle</i> Add to today's menu</button>
                                            <br>
                                            <button class="btn btn-round btn-sm btn-warning" ui-sref="app.editdish({id: dish._id})">
                                                <i class="material-icons">create</i> Edit this dish</button>
                                             <button class="btn btn-round btn-sm btn-warning" ng-click="toggleFeedback()">
                                                <i class="material-icons">star</i>
                                                 {{showFeedback ? 'Hide Feedback':'Show Feedback'}}
                                            </button>
                                        </div>
                                    </div>
                                    <br>
                                    <!-- View user feedback -->
                                    <div ng-show="showFeedback">
                                        <div class="col-sm-12">
                                            <div class="col-sm-8">
                                                <h6 class="title"> Customer Comments </h6>
                                            </div>
                                            <div class="col-sm-4 form-group label-floating">
                                                <select class="form-control" id="cuisine" style="font-family: 'FontAwesome', Arial;" aria-hidden="true" ng-model="orderByText">
                                                    <option value="">Sort by customer/date/rating</option>
                                                    <option value="customer">&#xf062; Customer</option>
                                                    <option value="date">&#xf062; Date</option>
                                                    <option value="rating">&#xf062; Rating</option>
                                                    <option value="-customer"> &#xf063; Customer</option>
                                                     <option value="-date">&#xf063; Date</option>
                                                    <option value="-rating">&#xf063; Rating</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-9 col-sm-offset-1">
                                            <ul class="list-unstyled">
                                                <li ng-repeat="commentDtl in dish.comments | orderBy: orderByText">
                                                    <blockquote>
                                                        <input-stars max="5" ng-model="commentDtl.rating" readonly></input-stars> 
                                                        <p> {{commentDtl.comment}} </p>
                                                        <footer>{{commentDtl.customer.username}} , {{commentDtl.createdAt | date: mediumDate}} </footer>
                                                    </blockquote>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- End of feedback -->
                                </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    
  

