
<div class="wrapper">
      <div class="header header-filter" style="background-image: url('assets/img/feast_original.jpg');"></div>

      <div class="main main-raised">
          <div class="profile-content">
              <div class="container">
                  <div class="col-xs-12" ng-if="!showOrder">
                      <h3>{{message}}</h3>
                  </div>
                  <div class="row" ng-if="showOrder">
                      <form class="form myform" method="" action="">
                          <div class="card-signup header-primary text-center">
                              <h4>Manage your orders</h4>
                              <div class="social-line text-right">
                                   <label>
                                      Accept, Mark them Ready and Deliver...
                                  </label>
                              </div>
                          </div>
                          <div class="content">
                              <br>

                                      <div class="col-sm-12 text-right">
                                          <input id="sortby" type="text" placeholder="Quick search for..." ng-model="sortby" >
                                      </div>
                                      <div ng-if="orders.length === 0">
                                          <h4 class="title"> No orders yet...
                                      </div>
                                      <span ng-model="chefid"></span>      
                                      <div ng-repeat="order in orders | orderBy: '-id' | filter:chefid | filter : {status : '!basket'} | filter: sortby">
                                      <div class="col-sm-12">
                                      <!-- Orders tab -->

                                          <nav class="navbar navbar-success nav-justified" role="navigation">
                                              <div class="container-fluid">
                                                  <div class="navbar-header col-sm-12">
                                                      <div class="col-sm-2"><h6> {{order.customer.firstname}} </h6></div>
                                                       <div class="col-sm-10 text-right" >
                                                          <i class="material-icons">local_phone</i> {{order.customer.phone}}
                                                          <i class="material-icons">shopping_cart</i> £{{total}}
                                                          <button ng-if="order.status == 'new'" class="btn btn-warning btn-round" rel="tooltip" title="Accept order" ng-click="updateOrder(order._id, order, 'wip');">
                                                              <i class="material-icons">notifications_active</i> Accept Order
                                                          </button>
                                                          <button  ng-if="order.status == 'wip'" class="btn btn-info btn-round" rel="tooltip" title="Ready for pickup" ng-click="updateOrder(order._id, order, 'done');">
                                                              <i class="material-icons">restaurant_menu</i> In the kitchen
                                                          </button>
                                                           <button  ng-if="order.status == 'done'" class="btn btn-info btn-round" rel="tooltip" title="Ready for pickup" ng-click="updateOrder(order._id, order, 'ready');">
                                                              <i class="material-icons">thumb_up</i> Ready for pickup
                                                          </button>
                                                          <button ng-if="order.status == 'ready'" class="btn btn-success btn-round" rel="tooltip" title="Order delivered" ng-click="updateOrder(order._id, order, 'closed');">
                                                              <i class="material-icons">sentiment_satisfied</i> Order delivered
                                                          </button>
                                                           <button ng-if="order.status == 'closed'" class="btn btn-warning btn-round" rel="tooltip" title="Order delivered" ng-click="updateOrder(order._id, order, 'new');">
                                                              <i class="material-icons">shopping_cart</i> New Order
                                                          </button>
                                                      </div>
                                                  </div>
                                              </div>
                                          </nav>

                                        <table class="table table-striped" >
                                          <thead>
                                              <tr>
                                                  <th class="text-center">#</th>
                                                  <th>Dish</th>
                                                  <th>Numbers</th>
                                                  <th class="text-right">Price</th>

                                              </tr>
                                          </thead>
                                          <tbody ng-init="total = 0">
                                              <div>
                                              <tr ng-repeat="dishordered in order.dishes track by $index">
                                                  <td class="text-center">{{$index+1}}</td>
                                                  <td><p>{{dishordered.dish.name}}</p></td>
                                                  <td>{{dishordered.quantity}}</td>
                                                  <td ng-init="itemTotal = dishordered.dish.price * dishordered.quantity; $parent.total = $parent.total + itemTotal" align="right">£{{itemTotal}}</td>
                                              </tr>
                                              <tr>
                                                  <td></td>
                                                  <td><b>Total</b></td>
                                                  <td></td>
                                                  <td align="right">£{{total}}</td>

                                              </tr>
                                              </div>
                                          </tbody>
                                          <tfoot>

                                          </tfoot>
                                      </table>
                                  </div>
                              </div>
                              <!-- End of orders -->
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
</div>
<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
