<body>
 <div class="index-page" >
    <div class="wrapper">
        <div class="header header-filter" style="background-image: url('assets/img/feast_original.jpg?crop=entropy&dpr=2&fit=crop&fm=jpg&h=750&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1450');">
<!--            <div class="header" style="background-image: url('assets/img/feast_original.jpg?crop=entropy&dpr=2&fit=crop&fm=jpg&h=750&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1450');">-->
            <div class="container">
                <div class="row">
					<div class="col-md-12">
					    <div class="brand" >
                            <h1 class="logo cursive">Dinner</h1>
                             <div align="center">
                                <form class="form-inline">
                                    <div class="content">
                                        <div class="input-group">
                                            <input type="text" class="form-control"  style="color: black; background-color: LightYellow" placeholder="Username..." id="username" class="form-control transparent" ng-model="loginData.username">
                                        </div>
                                        <div class="input-group">
                                            <input type="password" placeholder="Password..." style="color: black; background-color: LightYellow" id="password" class="form-control" ng-model="loginData.password" />
                                        </div>
                                        <div class="input-group">
                                            <button class="btn btn-warning btn-fill"  ng-click="doLogin()">Login</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <h4>Food brings people together...</h4>
                        </div>
					</div>
                </div>
            </div>
        </div>
        <!--div class="header header-filter" style="background-image: url('assets/img/bg2.jpeg');"></div-->
		<div class="main main-raised">
			<div class="container">
		    	<div class="section text-center section-landing">
	                <div class="row">
	                    <div class="col-md-12">
	                        <h2 class="title">Let's talk product</h2>
	                        <h5 class="description">
Good home cooked food is the best a person can have after a long and tiring day. With our busy lives it is difficult at times to manage home and work. Cooking everyday has become a luxury for some people. What if someone could cook a good meal for you? Or if you have the passion for cooking, would you like your busy (and hungry) neighbours try some of your signature dishes?
                                <br><br>
<b>Dinner</b> does just that - want to cook food for your neighbours or want to order food from your neighbours... look no more. <b>Dinner</b> is a platform for enthusiastic chefs to showcase their cullinary skills. Dinner can be used by everyone to search for home cooked food in their local area.
                                 <br><br>
                                It's food that brings people together. Use Dinner to meet your neighbours & try a new dish from your neighbour today !!</h5>
	                    </div>
	                </div>
                    <div class="features">
						<div class="row">
		                    <div class="col-md-4">
								<div class="info">
									<div class="icon icon-primary">
										<i class="material-icons">person_add</i>
									</div>
									<h4 class="info-title">Register</h4>
									<p>Register as a chef or a customer. As of now (for the capstone project) only the chef profile is handled. So users get registered only as chef</p>
								</div>
		                    </div>
		                    <div class="col-md-4">
								<div class="info">
									<div class="icon icon-success">
										<i class="material-icons">create</i>
									</div>
									<h4 class="info-title">Manage your dishes</h4>
									<p>Create, modify and view your dishes</p>
								</div>
		                    </div>
		                    <div class="col-md-4">
								<div class="info">
									<div class="icon icon-warning">
										<i class="material-icons">restaurant</i>
									</div>
									<h4 class="info-title">Manage your orders</h4>
									<p>Accept a new order and notify customer when order is ready to be picked up.</p>
								</div>
		                    </div>
		                </div>
					</div>    
	            </div>
	        </div>
            
            <div class="container">
		    	<div class="section text-center section-landing">
	                <div class="row">
	                    <div class="row">
	                        <h2 class="title">Here's how the screens look</h2>
	                    </div>
	                </div>
                    <div class="row">
	                        
	                        <h4 class="info-title text-left">Signup as a Chef or a Customer to access Dinner</h4>
<!--				            <p>Signup as a chef or a customer to access Dinner</p>-->
                            <img src="assets/img/screenshots/signup.png" alt="Rounded Image" class="img-rounded img-raised img-responsive">
	                </div>
                    <br>
	                <div class="row">
                            <h4 class="info-title text-left">Manage Dishes - View & Edit dishes from your menu</h4>
	                        <img src="assets/img/screenshots/managedishes.png" alt="Rounded Image" class="img-rounded img-raised img-responsive">
<!--
	                        <h4 class="info-title">Manage your dish</h4>
				            <p>View your dishes, edit them or add them to the menu</p>
-->
	                   
	                </div>
                    <br>
	                <div class="row">
                        <h4 class="info-title text-left">Add a new dish to your menu</h4>
                        <img src="assets/img/screenshots/adddish.png" alt="Rounded Image" class="img-rounded img-raised img-responsive">
<!--
                        <h4 class="info-title">Add a dish</h4>
                        <p>Create your signature dishes and add them to your home page</p>
-->

	                </div>
                    <br>
	                 <div class="row">
                            <h4 class="info-title text-left">Order Management - View & Accept customer orders</h4>
	                        <img src="assets/img/screenshots/todaysorder.png" alt="Rounded Image" class="img-rounded img-raised img-responsive">
<!--
	                        <h4 class="info-title">Manage your orders</h4>
				            <p>View new orders, accept them and mark them as delivered</p>
-->
	                </div>
	            </div>
	        </div>

                                  
		<div class="space-50"></div>
		<div class="section section-examples">
	        <div class="container-fluid text-center">

	        </div>
		</div>
		</div>
        

     </div>

	</div>
</body>