 <!-- include header -->
<div class="wrapper">
        <div class="header" style="background-image: url('assets/img/feast.jpg');"></div>

        <div class="main main-raised">
            <div class="profile-content">
                <div class="container">
                    <div class="col-xs-12" ng-if="!showFav">
                        <h3>{{message}}</h3>
                    </div>
                    <div class="row" ng-if="showFav">
                            <form class="form-horizontal myform" method="" action="">
                                <div class="card-signup header-primary text-center">
                                    <h4>My Favourites!</h4>
								</div>
                                </div>
                                <div class="content">
                                    <br>
                                     
                                            <div class="col-sm-12 text-right">
                                                <input id="sortby" type="text" placeholder="Quick search for..." ng-model="sortby" >
                                            </div>
                                    <br>
                                    <!-- Dish tab -->
                                    <div ng-if="dishes.length === 0">
                                        <h4 class="title"> No favourites yet
                                    </div>
                                    <div ng-repeat="(key, value) in dishes | groupBy:'chefname' ">
                                        <br>
                                        <!-- Include chef banner -->
                                         <div class="col-sm-12">
                                         <nav class="navbar navbar-success nav-justified" role="navigation">
                                            <div class="navbar-header col-sm-12">
                                                <div class="col-sm-2"><h6> {{key}} </h6></div>
                                                <div class="col-sm-10 text-right" > 
                                                <button  class="btn btn-info btn-round" rel="tooltip" title="Order from {{key}}" ng-click="addToOrder(key);" >
                                                     <i class="material-icons">add_circle</i> Order from {{key}}
                                                </button>
                                            </div>
                                            </div>
                                            
                                            </nav>
                                        </div>
                                        <br>
                                        <!-- chef banner -->
                                      <div ng-repeat="dish in value" class="col-sm-12">
                                        <div class="media col-sm-3">
                                            <a ui-sref="app.dishdetailcust({id: dish.id})">
                                               <img class="media-object media-left media-middle img-responsive img-padded-top"  ng-src={{dish.image}}>
                                            </a>
                                        </div>
                                        <div class="col-sm-7">
                                            <h4 class="title"> {{dish.name}} <small> Chef {{dish.chefname}} </small>
                                                <span class="label label-success label-center">{{dish.cuisine}}</span> 
                                                <span class="label label-success label-center">{{dish.price|currency}}</span>
                                            <!-- Star rating -->
                                            <!--div ng-controller="RatingController as rating" class="container">
                                                 <star-rating ng-model="rating.rating2" readonly="rating.isReadonly"></star-rating>
                                            </div-->
                                            
                                            <h6 class="text-danger">{{dish.allergy}}</h6>
                                            
                                            <p>{{dish.description}}
                                                <a class="btn btn-warning btn-xs" ui-sref="app.dishdetailcust({id: dish.id})">More &raquo;</a> </p>
                                        </div>
                                        <div class="col-sm-2 text-left">
                                            <br>
                                            <button class="btn btn-round btn-sm btn-warning" ng-click="removeFromFavourites(dish.id)" ng-model="dish.id">
                                                <i class="material-icons">remove_circle</i> Not a favourite</button>
                                            
                                             <!--div class="portions" ng-controller="CustumerOrderController"-->
                                                 <!--input type="checkbox" checked="true" ng-model="ordertoday" ng-change="updatePortion(dish.chefname, dish.id, dish.name, qty)"> Order -->
                                                        <!--select class="btn btn-default" name="qty" ng-change="testChange(qty)" ng-model=qty-->
                                                        <select 
                                                                class="btn btn-default"
                                                                ng-model="portionSize" 
                                                                ng-change="testChange(portionSize, dish.id, dish.name, dish.price, dish.chefname)"> 
                                                                <!--data-ng-options="portionSize as portionSize.name for portionSize in portionSizes"-->
                                                          <option value="">Select Portion Size</option>
                                                          <option ng-repeat="portionSize in portionSizes" value="{{portionSize.value}}">{{portionSize.name}}</option>
                                                        </select>
                                                 <!--
                                                          <li><a ng-click="addToOrderNew(0)" value="0" >Not today</a></li>
                                                          <li><a ng-click="addToOrderNew(1)">1 portion</a></li>
                                                          <li><a ng-click="addToOrderNew(2)">2 portions </a></li>
                                                          <li><a ng-click="addToOrderNew(3)">3 portions </a></li>
                                                          <li><a ng-click="addToOrderNew(4)">4 portions </a></li>
                                                          <li><a ng-click="addToOrderNew(5)">5 portions </a></li>
                                                    -->
                                              <!--/div-->
                                            <!--div>
                                                <select name="qty">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                                <button class="btn btn-round btn-sm btn-warning">
                                                    <i class="material-icons">add_circle</i> Add to Order
                                                </button>
                                            </div-->
                                            <br>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                    <br>
                                </div>
                            </form>
                    </div>

                </div>
            </div>
        </div>

    </div>
<script src="assets/js/material-kit.js" type="text/javascript"></script>