   <!-- Navbar -->
    <nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-index">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>

            <div class="collapse navbar-collapse" id="navigation-index">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a ui-sref="app">
                            <i class="material-icons">dashboard</i> Home
                        </a>
                    </li>
                    <li class="dropdown">
                     <a class="dropdown-toggle" data-toggle="dropdown">
                        <i class="material-icons">view_module</i> <b class="caret"></b>
                     </a>
                            <ul class="dropdown-menu">
                              <li><a ui-sref="app.favourites">My Favourites</a></li>
                              <li class="divider"></li>
                              <li><a ui-sref="app.customermenu">Menu of the day</a></li>
                              <li class="divider"></li>
                                <li><a ui-sref="app.mybasket">My basket</a></li>
                              <li><a ui-sref="app.customerorder">My Orders</a></li>
                            </ul>
                  </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->